@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}
:root{
    --Grayish-blue: hsl(220, 15%, 55%);
    --Light-gray: hsl(212, 45%, 89%)

}
body{
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.box{
    border-radius: 16px ; 
    background: white;
    max-width: 20em;
    padding: 1em 1em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}
img:hover{
    scale: 1.02;
}

img{
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.box:hover{
    translate: -4px 4px 200px;
    scale: 1.02;
}

h3{
    max-width: 18ch;
    margin-inline: auto;
}
p{
    font-weight: 400;
    color: var(--Grayish-blue);
    margin-inline: auto;
    max-width: 25ch;
}